<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDI Project [One]</title>
    <%- include partials/_stylesheets %>
    <%- include partials/_scripts %>
  </head>

  <body>
    <% if(locals.isLoggedIn) { %>
    <%- include partials/_navbar %>
    <% } %>
    <% for (const type in messages) { %>
      <p class="alert alert-<%= type %>"><%= messages[type] %></p>
      <% } %>
    <%- body %>

    <% if(locals.isLoggedIn) { %>
    <%- include partials/_footer %>
    <% } %>
  </body>

</html>
