<h1 class="title is-1">Edit</h1>

<div class="container">
  <div class="column">
    <div class="box">

      <form class="form" method="POST" action="/stars/<%= star.id %>" enctype="multipart/form-data">
          <div class="field">
            <label class="label" for="name">Name</label>
            <input class="input" type="text" name="name" id="name" value="<%= star.name %>" required>
          </div>

          <div class="field">
            <label class="label" for="type">Type</label>
            <p class="control">
              <span class="select">
                <select name="type" id="type">
                  <% types.forEach(type => { %>
                    <option><%= type %></option>
                  <% }) %>
                </select>
              </span>
            </p>
          </div>

          <div class="field">
            <label class="label">Date</label>
            <p class="control">
              <input class="input" name="date" type="date" value="<%= moment(star.date).format('YYYY-MM-DD') %>">
            </p>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <p class="control">
              <textarea class="textarea" name="description" maxlength="300"><%= star.description %></textarea>
            </p>
          </div>

          <div>
            <label class="label" for="image">Image</label>
            <input class="input" type="file" name="image" value="<%= star.image %>">
          </div>

          <button class="button is-success is-medium" type="submit">Update</button>
          <a href="/stars/" class="button is-warning is-medium">Cancel</a>

        </form>

    </div>
  </div>
</div>
