<h1 class="title is-1">User Profile</h1>

<div class="container">
  <div class="columns">

    <div class="column is-half">

      <div class="box">
        <h2 class="title is-2"><%= user.username %></h2>
        <h4 class="subtitle is-3"><%= user.email %></h4>
        <br>
        <form method="POST" action="/users/<%= user.id %>">
          <a href="/users/<%= user.id %>/edit" class="button is-medium is-info">Edit Account</a>
          <input type="hidden" name="_method" value="DELETE">

          <div class="deleteUser">
            <button class="button is-medium is-danger toggle-modal" type="button" data-modal="profile">Delete Account</button>
            <div class="modal" data-modal="profile">
              <div class="modal-background"></div>
              <div class="modal-card">
                <header class="modal-card-head">
                  <p class="title is-2">Warning!</p>
                </header>

                <section class="modal-card-body">
                  <p class="subtitle is-5">Are you sure you want to delete your profile?</p>
                  <p class="subtitle is-5">This action will irreversible</p>
                  <p class="subtitle is-4">Please don't leave us</p>

                </section>

                <footer class="modal-card-foot">
                  <button class="button is-medium is-danger">Confirm Delete</button>
                  <a href="/users/<%= currentUser.id %>"class="button is-warning is-medium">Cancel</a>
                </footer>
              </div>
            </div>
          </div>
          
        </form>
      </div>

      <div class="box userProfileMap">
        <h3 class="title is-3">Current Location:</h3>
        <div class="map geoMap small" id="userProfileMap">
        </div>
      </div>

      <div class="box userProfileForcast">

        <h3 class="title is-3">Star Grazing Forecast for Your Location:</h3>
        <h3 class="sutitle is-3">% Cloud Cover</h3>
        <br>
        <div id="userProfileForecast">
        </div>
        <br>
        <div class="forecastInfo">
          <button class="toggle-modal button is-info" data-modal="weather">Understanding Your Forecast<span class="space"></span><i class="fa fa-question-circle-o" aria-hidden="true"></i></button>
          <div class="modal" data-modal="weather">

            <div class="modal-background">
            </div>

            <div class="modal-card">
              <header class="modal-card-head">
                <p class="modal-card-title title is-3">Understanding Your Forecast</p>
              </header>

              <section class="modal-card-body">

                <div class="subtitle is-6 forecastDetails">
                  The Star Gazing Forecast uses information from Open Weather Network to display the amount of cloud cover that is likely to be present at your current location. It is measured in a percentage, where 100% means total cloud coverage, and hence bad star gazing ability, and 0% means clear skies, giving you the best chance to see the heavens.
                </div>

                <table class="table is-striped is-narrow">

                  <thead>
                    <tr>
                      <th>Icon</th>
                      <th>Definition</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <th><img src="/assets/01n.png" alt=""></th>
                      <td><p class="subtitle is-6">Clear Sky</p></td>
                    </tr>
                    <tr>
                      <th><img src="/assets/02n.png" alt=""></th>
                      <td><p class="subtitle is-6">Very Few Clouds</p></td>
                    </tr>
                    <tr>
                      <th><img src="/assets/03n.png" alt=""></th>
                      <td><p class="subtitle is-6">Scattered Clouds</p></td>
                    </tr>
                    <tr>
                      <th><img src="/assets/04n.png" alt=""></th>
                      <td><p class="subtitle is-6">Broken Clouds</p></td>
                    </tr>
                    <tr>
                      <th><img src="/assets/05n.png" alt=""></th>
                      <td><p class="subtitle is-6">Rain Showers</p></td>
                    </tr>
                    <tr>
                      <th><img src="/assets/06n.png" alt=""></th>
                      <td><p class="subtitle is-6">Rain</p></td>
                    </tr>
                    <tr>
                      <th><img src="/assets/07n.png" alt=""></th>
                      <td><p class="subtitle is-6">Thuderstorm</p></td>
                    </tr>
                    <tr>
                      <th><img src="/assets/08n.png" alt=""></th>
                      <td><p class="subtitle is-6">Snow</p></td>
                    </tr>
                    <tr>
                      <th><img src="/assets/09n.png" alt=""></th>
                      <td><p class="subtitle is-6">Mist</p></td>
                    </tr>

                  </tbody>

                </table>
              </section>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="column is-half">

      <div class="box">

        <h3 class="title is-3">NASA Astronomy Picture of the Day:</h3>
        <h4 class="title is-4" id="apod_title"></h4>
        <img id="apod_img_id" width="100%"/>
        <iframe id="apod_vid_id" type="text/html" width="640" height="385" frameborder="0"></iframe>
        <p class="subtitle is-5" id="copyright"></p>
        <p class="subtitle is-6 nasaPOTD" id="apod_explaination"></p>

      </div>

    </div>

  </div>
</div>
